-- Add delivery/promo columns
ALTER TABLE orders ADD COLUMN IF NOT EXISTS delivery_type ENUM('NOW','SCHEDULED') DEFAULT 'NOW';
ALTER TABLE orders ADD COLUMN IF NOT EXISTS scheduledAt DATETIME NULL;
ALTER TABLE orders ADD COLUMN IF NOT EXISTS eta_min INT NULL, ADD COLUMN IF NOT EXISTS eta_max INT NULL;
ALTER TABLE orders ADD COLUMN IF NOT EXISTS promoCode VARCHAR(50) NULL, ADD COLUMN IF NOT EXISTS promoDiscount DECIMAL(10,2) DEFAULT 0;
ALTER TABLE orders ADD COLUMN IF NOT EXISTS delivery_status ENUM('PREPARING','OUT_FOR_DELIVERY','DELIVERED') DEFAULT 'PREPARING', ADD COLUMN IF NOT EXISTS deliveryUpdatedAt DATETIME NULL;
