<%- include("partials/header"); %>

<div class="text-center mt-5 mb-5">
    <h2 class="fw-bold mb-3">Payment Successful!</h2>

    <% if (orderId) { %>
        <p>Your order has been placed successfully. Thank you for your purchase 🎉</p>
        <p>Your Order ID is <strong>#<%= orderId %></strong>.</p>
        <a href="/invoice/<%= orderId %>" class="btn btn-primary">Download Receipt</a>
    
        <br>
        <% } else { %>
            <p>Your order has been placed.</p>
            <% } %>

    <a href="/orders" class="btn btn-outline-secondary mt-2">View My Orders</a>
    <a href="/shop" class="btn btn-success mt-2 ms-2">Continue Shopping</a>
</div>

<%- include("partials/footer"); %>
